#mainBox {
  display: flex;
  flex-direction: column;
  min-height: 7rem;
  border: 0.1px solid #f0f0f0;
}

#content {
  margin: 10px 15px 0px 15px;
  /* border: 0.1px solid grey; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#imgBox {
  height: 3rem;
  width: 3rem;
  background-color: grey;
  border-radius: 50%;
}

#imgBox + input {
  border: none;
  font-size: 20px;
}

#imgBox + input:focus {
  outline: none;
}

#addTweetFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 1rem 1rem 4rem;
  /* margin-right: 1rem; */
  /* background-color: grey; */
}

.icons {
  display: flex;
  width: 15px;
  height: 15px;
  gap: 1rem;
}

.icon {
  color: #1d9bf0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#tweetBtn {
  border: none;
  background-color: #1d9bf0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
