.mainContainer{
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0 0 0;
    background-color: #f7f9f9;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    border-radius: 2rem;
    width: 100%;
    gap: 2rem;
}
.heading{
    font-size: 1.6rem;
    font-family:  "Poppins", sans-serif;
    font-weight: bold;
    font-weight: 1000;
    margin-left: 1rem;
}

.container{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}
.container:hover{
    background-color: rgba(219, 230, 230, 0.786);;
}
.image{
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
}
.div1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.div p {
    font-size: 0.9rem;
}
.btn{
    width: 5.3rem;
    height: 2rem;
    border-radius: 20rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border: none;
    background-color: #0f1419

    ;
    color: white;
}
.button{
    width: 100%;
    border: none;
    height: 3.4rem;
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: #6abcf3

}
.button:hover{
    background-color: rgba(219, 230, 230, 0.786);
}